#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

#main>button{
    height: 45px;
    width:240px;
    font-size: 20px;
    background-color: white;
    border: 1px solid black;
    color: blue;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
}

#addVoterFormHidden{
    display: none;
}

#addVoterFormShow{
    width: 400px;
    top:80px;
    left:400px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    padding: 40px;
    background-color: coral;
}

#addVoterFormShow>input,select{
    height: 45px;
    width: 250px;
    font-size: 20px;
    border: 1px solid black;
    outline: none;
}

#addVoterFormShow>button{
    height: 45px;
    width: fit-content;
    border: none;
    border-radius: 12px;
    background-color: blue;
    color: white;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}


#delFormShow{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    background-color: coral;
    position: absolute;
    top:70px;
    left:40%;
    padding: 20px;
}

#delFormHidden{
    display: none;
}


#delFormShow>input{
    height: 45px;
    width: 250px;
    font-size: 18px;
    border: 1px solid black;
    outline: none;
}

#delFormShow>button{
    height: 45px;
    width: fit-content;
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 12px;
    cursor: pointer;
    background-color: blue;
    color: white;
}

#eleFormHidden{
    display: none;
}

#eleFormShow{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    background-color: coral;
    position: absolute;
    top:60px;
    left:40%;
    padding: 20px;
}

#eleFormShow>input{
    height: 45px;
    width: 250px;
    font-size: 18px;
    border: 1px solid black;
    outline: none;
}

#eleFormShow>button{
    height: 45px;
    background-color: blue;
    color: white;
    width: fit-content;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
}