table, tr, th, td{
    border: 1px solid black;
    font-size: 30px;
    border-collapse: collapse;
}

th,td{
    width: 150px;
    height: 45px;
    text-align: center;
}

#votebtn{
    height: 45px;
    background-color: blue;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

